Repository omnivore-app/omnivore: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: ensure that if most text is present, that we do not show it again.
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: ensure that if most text is present, that we do not show it again on double tap. (#4673)
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: hardcode RS256 in Apple JWT verification to prevent algorithm confusion (#4652)
  packages/api/src/routers/auth/apple_auth.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: article-wrapper scrollbar removal
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: article-wrapper scrollbar removal (#4674)
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(): add page turn setting for android
  android/Omnivore/app/src/main/assets/bundle.js
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/datastore/DataStoreConstants.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/ReaderPreferencesSheet.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReader.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReaderContent.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReaderViewModel.kt
  android/Omnivore/app/src/main/res/values-vi/strings.xml
  android/Omnivore/app/src/main/res/values/strings.xml
  packages/appreader/package.json
  packages/appreader/src/index.jsx
Due: none

feat(): add page turn setting for android (#4675)
  android/Omnivore/app/src/main/assets/bundle.js
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/datastore/DataStoreConstants.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/ReaderPreferencesSheet.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReader.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReaderContent.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReaderViewModel.kt
  android/Omnivore/app/src/main/res/values-vi/strings.xml
  android/Omnivore/app/src/main/res/values/strings.xml
  packages/appreader/package.json
  packages/appreader/src/index.jsx
Due: none

fix(): fix overshoot double tap on android app
  android/Omnivore/app/src/main/assets/bundle.js
  packages/appreader/src/index.jsx
Due: none

fix(): fix issue where obfuscated text becomes unreadable using double tap
  android/Omnivore/app/src/main/assets/bundle.js
  packages/appreader/src/index.jsx
Due: none

feat(): adds discover feeds to the android application (feature flagged in profile)
  android/Omnivore/app/build.gradle.kts
  android/Omnivore/app/src/main/graphql/GetDiscoverFeedArticles.graphql
  android/Omnivore/app/src/main/graphql/GetDiscoverFeeds.graphql
  android/Omnivore/app/src/main/graphql/SaveDiscoverArticle.graphql
  android/Omnivore/app/src/main/graphql/schema.graphqls
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/datastore/DataStoreConstants.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/designsystem/icon/OmnivoreIcons.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/network/DiscoverFeed.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/discover/DiscoverScreen.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/discover/DiscoverViewModel.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/onboarding/OnboardingViewModel.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/profile/ProfileScreen.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/profile/discover_settings/DiscoverSettingsScreen.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/profile/discover_settings/DiscoverSettingsViewModel.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/root/RootView.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/navigation/Routes.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/navigation/TopLevelDestination.kt
  android/Omnivore/app/src/main/res/drawable/ic_sparkle_empty.xml
  android/Omnivore/app/src/main/res/drawable/ic_sparkle_fill.xml
  android/Omnivore/app/src/main/res/values/strings.xml
  apple/OmnivoreKit/Sources/Views/Resources/bundle.js
  packages/appreader/src/index.jsx
Due: none

feat(): adds discover feeds to the android application (feature flagged in profile) (#4677)
  android/Omnivore/app/build.gradle.kts
  android/Omnivore/app/src/main/graphql/GetDiscoverFeedArticles.graphql
  android/Omnivore/app/src/main/graphql/GetDiscoverFeeds.graphql
  android/Omnivore/app/src/main/graphql/SaveDiscoverArticle.graphql
  android/Omnivore/app/src/main/graphql/schema.graphqls
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/datastore/DataStoreConstants.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/designsystem/icon/OmnivoreIcons.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/network/DiscoverFeed.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/discover/DiscoverScreen.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/discover/DiscoverViewModel.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/onboarding/OnboardingViewModel.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/profile/ProfileScreen.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/profile/discover_settings/DiscoverSettingsScreen.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/profile/discover_settings/DiscoverSettingsViewModel.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/root/RootView.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/navigation/Routes.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/navigation/TopLevelDestination.kt
  android/Omnivore/app/src/main/res/drawable/ic_sparkle_empty.xml
  android/Omnivore/app/src/main/res/drawable/ic_sparkle_fill.xml
  android/Omnivore/app/src/main/res/values/strings.xml
  apple/OmnivoreKit/Sources/Views/Resources/bundle.js
  packages/appreader/src/index.jsx
Due: none

fix: replace permanent auth token in SSO redirect URL with one-time exchange
  packages/api/src/routers/auth/auth_router.ts
  packages/api/src/utils/sso.ts
  packages/api/test/routers/auth.test.ts
  packages/web/pages/api/client/auth.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(): adds hiding toggle for discover screen in android.
  android/Omnivore/app/src/main/graphql/HideDiscoverItem.graphql
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/datastore/DataStoreConstants.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/network/DiscoverFeed.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/discover/DiscoverScreen.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/discover/DiscoverViewModel.kt
Due: none

feat(): adds hiding toggle for discover screen in android.
  android/Omnivore/app/build.gradle.kts
Due: none

feat(): adds hiding toggle for discover screen in android. (#4679)
  android/Omnivore/app/build.gradle.kts
  android/Omnivore/app/src/main/graphql/HideDiscoverItem.graphql
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/datastore/DataStoreConstants.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/network/DiscoverFeed.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/discover/DiscoverScreen.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/discover/DiscoverViewModel.kt
Due: none

fix(imap-parser): ensure that we are not reusing any clients in rxjs
  packages/content-handler/src/websites/wired-handler.ts
  packages/imap-mail-watcher/src/lib/emailObserver.ts
  packages/imap-mail-watcher/src/watcher.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: fix error on imap
  packages/imap-mail-watcher/src/lib/emailObserver.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: add longreads handler
  packages/content-handler/src/index.ts
  packages/content-handler/src/websites/longreads-handler.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: add longreads handler (#4694)
  packages/content-handler/src/index.ts
  packages/content-handler/src/websites/longreads-handler.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: add longreads handler
  packages/imap-mail-watcher/src/lib/emailObserver.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: ensure that we close the socket in the finally
  packages/imap-mail-watcher/src/lib/emailObserver.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: update pdfjs-dist version
  packages/web/public/pdfjs-dist/pdf.sandbox.min.mjs
  packages/web/public/pdfjs-dist/pdf.worker.min.mjs
Due: none

fix: replace permanent auth token in SSO redirect URL with one-time exchange (#4678)
  packages/api/src/routers/auth/auth_router.ts
  packages/api/src/utils/sso.ts
  packages/api/test/routers/auth.test.ts
  packages/web/pages/api/client/auth.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: update pdfjs-dist version (#4699)
  packages/web/public/pdfjs-dist/pdf.sandbox.min.mjs
  packages/web/public/pdfjs-dist/pdf.worker.min.mjs
Due: none

fix: destroy all sockets upon closing. (#4698)
  packages/imap-mail-watcher/src/lib/emailObserver.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

Update README with self-hosting guide link
  README.md
Due: prettier --write

Clarify self-hosted application status in README
  README.md
Due: prettier --write

fix: fix address import
  packages/api/src/services/newsletters.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: fix discover not html-escaping
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/atom.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/generic.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: add custom parsers for rss feeds
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/atom.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/rss.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/defaultAtom.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/defaultRss.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/longReads.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/siteConverters.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/slateAll.ts
  packages/discover/src/lib/inputSources/articles/rss/rssIngestor.ts
  packages/discover/src/types/OmnivoreArticle.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

chore: remove logs
  packages/discover/src/index.ts
  packages/discover/src/lib/ai/embedding.ts
  packages/discover/src/lib/inputSources/articles/rss/newFeedIngestor.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/siteConverters.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/slateAll.ts
  packages/discover/src/lib/store/feeds.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(rss): add headers for certain sites for fetching open graph data
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/generic.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(): add proxy for services that use CF
  packages/discover/Dockerfile
  packages/discover/proxy/go.mod
  packages/discover/proxy/main.go
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/generic.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

cleanup: cleanup the discover side
  packages/discover/Dockerfile
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/generic.ts
  packages/proxy/go.mod
  packages/proxy/main.go
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(content-handler): add proxy to content handler
  packages/content-fetch/Dockerfile
  packages/content-fetch/start.sh
  packages/content-handler/src/axios.ts
  packages/content-handler/src/content-handler.ts
  packages/content-handler/src/websites/the-atlantic-handler.ts
  packages/content-handler/src/websites/wired-handler.ts
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: firefox features
  packages/discover/Dockerfile
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: firefox features
  packages/content-handler/src/axios.ts
  packages/content-handler/src/websites/the-atlantic-handler.ts
  packages/content-handler/src/websites/wired-handler.ts
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: atlantic
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

Path conditions:
  eslint --fix: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.js, *.jsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js, *.jsx)) or (any of: *.md)
  eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix: (any of: *.ts) or (any of: *.tsx)
