Repository omnivore-app/omnivore: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(rss): add some custom parsers for RSS & add a proxy to avoid certain checks. (#2)
  packages/content-fetch/Dockerfile
  packages/content-fetch/start.sh
  packages/content-handler/src/content-handler.ts
  packages/content-handler/src/websites/the-atlantic-handler.ts
  packages/discover/Dockerfile
  packages/discover/src/index.ts
  packages/discover/src/lib/ai/embedding.ts
  packages/discover/src/lib/inputSources/articles/rss/newFeedIngestor.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/atom.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/generic.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/rss.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/defaultAtom.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/defaultRss.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/longReads.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/siteConverters.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/slateAll.ts
  packages/discover/src/lib/inputSources/articles/rss/rssIngestor.ts
  packages/discover/src/lib/store/feeds.ts
  packages/discover/src/types/OmnivoreArticle.ts
  packages/proxy/go.mod
  packages/proxy/main.go
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

chore: cleanup proxy
  packages/proxy/main.go
Due: none

chore: cleanup folder structure and docker files
  .github/workflows/build-self-host-docker-images.yml
  packages/content-fetch/Dockerfile
  packages/content-handler/src/websites/the-atlantic-handler.ts
  packages/discover/Dockerfile
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/generic.ts
  packages/proxy/imageproxy/Dockerfile
  packages/proxy/imageproxy/fly.omnivore-demo-imageproxy.toml
  packages/proxy/imageproxy/fly.omnivore-dev-imageproxy.toml
  packages/proxy/imageproxy/fly.omnivore-prod-imageproxy.toml
  packages/proxy/imageproxy/imageproxy-service-demo.yaml
  packages/proxy/imageproxy/imageproxy-service-production.yaml
  packages/proxy/imageproxy/imageproxy-service-qa.yaml
  packages/proxy/imageproxy/start_imageproxy.sh
  packages/proxy/web/go.mod
  packages/proxy/web/main.go
  self-hosting/docker-compose/self-build/docker-compose.yml
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: replace localhost reference to 127.0.0.1 in the atlantic website extractor
  packages/content-handler/src/websites/the-atlantic-handler.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(rss): add custom exporters, and fix some issues with proxying to other sites. (#4716)
  packages/content-fetch/Dockerfile
  packages/content-fetch/start.sh
  packages/content-handler/src/content-handler.ts
  packages/content-handler/src/websites/the-atlantic-handler.ts
  packages/discover/Dockerfile
  packages/discover/src/index.ts
  packages/discover/src/lib/ai/embedding.ts
  packages/discover/src/lib/inputSources/articles/rss/newFeedIngestor.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/atom.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/generic.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/rss.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/defaultAtom.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/defaultRss.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/longReads.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/siteConverters.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/slateAll.ts
  packages/discover/src/lib/inputSources/articles/rss/rssIngestor.ts
  packages/discover/src/lib/store/feeds.ts
  packages/discover/src/types/OmnivoreArticle.ts
  packages/proxy/go.mod
  packages/proxy/main.go
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

chore: yarn upgrade
  package.json
  yarn.lock
Due: none

fix: puppeteer
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: add raw handler for aeon
  packages/content-handler/src/websites/raw-handler.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: ensure longreads handler handles raw content
  packages/content-handler/src/websites/longreads-handler.ts
  packages/content-handler/src/websites/raw-handler.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(web): add pink highlight color and update highlight tokens
  packages/web/components/tokens/stitches.config.ts
  packages/web/lib/themeUpdater.tsx
  packages/web/styles/articleInnerStyling.css
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(android): persist and sync highlight color
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/data/HighlightActionHandlers.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/data/SyncOfflineChanges.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/database/entities/Highlight.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/network/HighlightMutations.kt
Due: none

fix(android): make PostHog and Intercom optional when keys are blank
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/analytics/EventTracker.kt
Due: none

feat(android): six-color highlight palette with one-tap create, recolor and remove
  android/Omnivore/app/src/main/assets/bundle.js
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/components/HighlightColorPalette.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReader.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReaderViewModel.kt
Due: none

feat: allow for new openrouter implementation of discover
  packages/db/migrations/0190.do.discover_add_more_embedding_models.sql
  packages/db/migrations/0190.undo.discover_add_more_embedding_models.sql
  packages/discover/package.json
  packages/discover/src/env.ts
  packages/discover/src/index.ts
  packages/discover/src/lib/ai/embedding.ts
  packages/discover/src/lib/clients/ai/bedrock.ts
  packages/discover/src/lib/clients/ai/client.ts
  packages/discover/src/lib/clients/ai/openAi.ts
  packages/discover/src/lib/clients/ai/openRouter.ts
  packages/discover/src/lib/inputSources/articles/rss/newFeedIngestor.ts
  packages/discover/src/lib/inputSources/labels/discoverTopics.ts
  packages/discover/src/lib/store/articles.ts
  packages/discover/src/lib/store/labels.ts
  packages/discover/src/types/AiClient.ts
  self-hosting/docker-compose/docker-compose.yml
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: revert redis
  packages/discover/src/lib/inputSources/articles/rss/newFeedIngestor.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: ensure that migrate is getting ran
  packages/db/Dockerfile
Due: none

chore: refactor some of the topics
  packages/discover/src/lib/clients/ai/openRouter.ts
  packages/discover/src/lib/inputSources/labels/discoverTopics.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: add filter for wired
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/siteConverters.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/sites/wired.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: adds page height to tap to turn so that you never end up with the last page turning differently
  android/Omnivore/app/build.gradle.kts
  android/Omnivore/app/src/main/assets/bundle.js
  packages/appreader/src/index.jsx
Due: none

fix: adds page height to tap to turn so that you never end up with the last page turning differently (#4724)
  android/Omnivore/app/build.gradle.kts
  android/Omnivore/app/src/main/assets/bundle.js
  packages/appreader/src/index.jsx
Due: none

fix: ordering of self-hosting guide.
  self-hosting/GUIDE.md
Due: prettier --write

chore: change docker file
  packages/db/Dockerfile
Due: none

feat(web): add highlight markers to article scrollbar
  packages/web/components/templates/article/HighlightsLayer.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(web): wrap text inside article tables
  packages/web/styles/articleInnerStyling.css
Due: none

fix(puppeteer): fix issue with puppeteer where a timeout would cause the entire page load to fail; sometimes network requests are still active despite the page fully loading
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(puppeteer): fix issue with puppeteer where a timeout would cause the entire page load to fail; sometimes network requests are still active despite the page fully loading (#4727)
  packages/puppeteer-parse/src/index.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(android): keep failed highlight updates queued and sync color from the repository
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/data/SyncOfflineChanges.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/data/repository/impl/LibraryRepositoryImpl.kt
Due: none

fix(android): skip Intercom initialization and calls when it is not configured
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/OmnivoreApplication.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/analytics/EventTracker.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/analytics/IntercomSupport.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/onboarding/OnboardingViewModel.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/profile/ProfileViewModel.kt
Due: none

feat(android): add highlight markers next to the scrollbar
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/HighlightMinimapScript.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReader.kt
Due: none

fix(android): match marker colors to the reader and make markers accessible
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/HighlightMinimapScript.kt
Due: none

feat(discover): add insight as to why a story is in that topic
  android/Omnivore/app/src/main/graphql/schema.graphqls
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/network/DiscoverFeed.kt
  packages/api/src/generated/graphql.ts
  packages/api/src/generated/schema.graphql
  packages/api/src/resolvers/discover_feeds/articles/get.ts
  packages/api/src/schema.ts
  packages/db/migrations/0190.do.discover_add_more_embedding_models.sql
  packages/db/migrations/0190.undo.discover_add_more_embedding_models.sql
  packages/discover/src/index.ts
  packages/discover/src/lib/ai/embedding.ts
  packages/discover/src/lib/ai/label.ts
  packages/discover/src/lib/clients/ai/bedrock.ts
  packages/discover/src/lib/clients/ai/openAi.ts
  packages/discover/src/lib/clients/ai/openRouter.ts
  packages/discover/src/lib/inputSources/articles/rss/newFeedIngestor.ts
  packages/discover/src/lib/inputSources/labels/discoverTopics.ts
  packages/discover/src/lib/store/articles.ts
  packages/discover/src/lib/store/labels.ts
  packages/discover/src/types/DiscoverTopic.ts
  packages/web/lib/networking/queries/useGetDiscoverFeedItems.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(web): address highlight marker review feedback and add a settings toggle
  packages/web/components/templates/article/ArticleContainer.tsx
  packages/web/components/templates/article/DisplaySettingsModal.tsx
  packages/web/components/templates/article/HighlightsLayer.tsx
  packages/web/components/templates/article/ReaderSettingsControl.tsx
  packages/web/lib/hooks/useReaderSettings.tsx
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(android): add a reader preference to show or hide highlight markers
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/datastore/DataStoreConstants.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/HighlightMinimapScript.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/ReaderPreferencesSheet.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReaderContent.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReaderViewModel.kt
  android/Omnivore/app/src/main/res/values/strings.xml
Due: none

feat(android): edit reading position from the Edit Info screen
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/data/repository/impl/LibraryRepositoryImpl.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/core/network/ReadingProgressMutations.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/editinfo/EditInfoSheet.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/editinfo/EditInfoViewModel.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/library/LibraryView.kt
  android/Omnivore/app/src/main/java/app/omnivore/omnivore/feature/reader/WebReaderLoadingContainer.kt
  android/Omnivore/app/src/main/res/values/strings.xml
Due: none

feat(web): edit reading position from the edit item dialog
  packages/api/src/resolvers/article/index.ts
  packages/web/components/templates/homeFeed/EditItemModals.tsx
  packages/web/lib/networking/library_items/useLibraryItems.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(discover): add insight as to why a story is in that topic - frontend
  packages/web/components/templates/discoverFeed/DiscoverItems/DiscoverHoverActions.tsx
  packages/web/components/templates/discoverFeed/DiscoverItems/DiscoverItemGridCard.tsx
  packages/web/components/templates/discoverFeed/DiscoverItems/DiscoverSubjectInfo.tsx
  packages/web/lib/networking/queries/useGetDiscoverFeedItems.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: fix popup going off the screen
  packages/web/components/templates/discoverFeed/DiscoverItems/DiscoverSubjectInfo.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat: show multiple subjects
  packages/discover/src/lib/ai/embedding.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

Path conditions:
  eslint --fix: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.js, *.jsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js, *.jsx)) or (any of: *.md)
  eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix: (any of: *.ts) or (any of: *.tsx)
