Repository omnivore-app/omnivore: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix",
    "prettier --write",
    "eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix"
  ],
  "*.tsx": [
    "eslint --fix",
    "prettier --write",
    "eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix"
  ],
  "*.js, *.jsx": ["eslint --fix", "prettier --write"],
  "!(package-lock)*.{json,yaml,yml}": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(docs): add comprehensive documentation
  docs/architecture/notebook-feature-analysis.md
  docs/architecture/product-brief.md
  docs/architecture/product-thoughts.md
  docs/architecture/strategic-vision-2025.md
  docs/architecture/unified-migration-backlog-complete.md
  docs/architecture/unified-migration-backlog.md
  docs/architecture/vision-comparison-analysis.md
  packages/api-nest/WEB_ANNOTATION_MIGRATION_SUMMARY.md
  packages/web-vite/DESIGN-SYSTEM-BRIEF.md
  packages/web-vite/DESIGN-SYSTEM-IMPLEMENTATION-SUMMARY.md
  packages/web-vite/DESIGN-TOKENS.md
  packages/web-vite/design/Omnivore Design System Overhaul Proposal.pdf
  packages/web-vite/design/Omnivore Design System_ Developer Handoff v1.0.pdf
  structurizr/workspace.target-state.dsl.backup
Due: prettier --write

refactor(api-nest): enhance test configuration and application setup for E2E tests
  packages/api-nest/src/app/app.module.ts
  packages/api-nest/src/config/test.config.ts
  packages/api-nest/src/main.ts
  packages/api-nest/src/queue/queue.constants.ts
  packages/api-nest/src/utils/env.utils.ts
  packages/api-nest/test/auth.e2e-spec.ts
  packages/api-nest/test/factories-example.e2e-spec.ts
  packages/api-nest/test/factories/base.factory.ts
  packages/api-nest/test/graphql.e2e-spec.ts
  packages/api-nest/test/health.e2e-spec.ts
  packages/api-nest/test/helpers/create-e2e-app.ts
  packages/api-nest/test/helpers/test-config.service.ts
  packages/api-nest/test/helpers/test-datasource.helper.ts
  packages/api-nest/test/highlight.e2e-spec.ts
  packages/api-nest/test/label.e2e-spec.ts
  packages/api-nest/test/library.e2e-spec.ts
  packages/api-nest/test/notebook.e2e-spec.ts
  packages/api-nest/test/reading-progress.e2e-spec.ts
  packages/api-nest/test/save-url.e2e-spec.ts
  packages/api-nest/test/setup/global-setup.ts
  packages/api-nest/test/setup/jest-environment-setup.ts
  packages/api-nest/test/setup/test-db-constants.ts
  packages/api-nest/test/setup/testcontainers.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(api-nest): implement ARC-013 content extraction and processing
  packages/api-nest/.env.test
  packages/api-nest/ARC-013-IMPLEMENTATION-PLAN.md
  packages/api-nest/package.json
  packages/api-nest/src/queue/processors/content-processor.service.spec.ts
  packages/api-nest/src/queue/processors/content-processor.service.ts
  packages/api-nest/src/queue/queue.module.ts
  packages/api-nest/src/queue/services/html-sanitizer.service.ts
  packages/api-nest/test/content-extraction.e2e-spec.ts
  packages/web-vite/src/lib/anchoredHighlights.ts
  packages/web-vite/src/pages/ReaderPage.tsx
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

Update setup.sh
  packages/db/setup.sh
Due: none

fix(): fix imap parser
  packages/imap-mail-watcher/package.json
  packages/imap-mail-watcher/src/watcher.ts
  packages/imap-mail-watcher/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

content-fetch: mark final-attempt failures as FAILED
  packages/api/src/jobs/save_page.ts
  packages/content-fetch/src/request_handler.ts
  packages/content-fetch/src/worker.ts
  packages/content-fetch/start.sh
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

print: add CUPS+Avahi virtual printer + spool watcher
  packages/print/README.md
  packages/print/ippserver/Dockerfile
  packages/print/ippserver/entrypoint.sh
  packages/print/package.json
  packages/print/watcher/Dockerfile
  packages/print/watcher/omnivore-print-upload.sh
  packages/print/watcher/omnivore-print-watch.sh
Due: prettier --write

self-hosting: add print services (CUPS + watcher)
  self-hosting/docker-compose/docker-compose.yml
  self-hosting/docker-compose/print-watcher/.env.example
  self-hosting/docker-compose/self-build/docker-compose.yml
Due: none

scripts: add rescue/retry ops tooling
  scripts/.gitignore
  scripts/.rescue-deps/package.json
  scripts/fetch-queue-status.sh
  scripts/fix-retry-duplicates.ts
  scripts/rescue-via-playwright.ts
  scripts/retry-failed-items.sh
  scripts/retry-via-api.ts
  scripts/test-api.sh
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

scripts: add migration and labeling utilities
  scripts/apply-labels-with-mapping.js
  scripts/apply-labels.js
  scripts/apply-single-label.js
  scripts/check-missing-labeled.sql
  scripts/compare-urls.js
  scripts/download-items-mapping.js
  scripts/find-redirected-urls.sql
  scripts/import-pocket.js
  scripts/migrate-omnivore.js
  scripts/package.json
  scripts/pnpm-lock.yaml
  scripts/pnpm-workspace.yaml
  scripts/test-auth.js
  scripts/test-create-label.js
Due: none

Allow creating custom user
  packages/db/setup.sh
  self-hosting/docker-compose/.env.example
Due: none

Add Go replacement for content-fetch service and CLAUDE.md
  CLAUDE.md
  packages/content-fetch-go/.dockerignore
  packages/content-fetch-go/Dockerfile
  packages/content-fetch-go/go.mod
  packages/content-fetch-go/go.sum
  packages/content-fetch-go/internal/analytics/analytics.go
  packages/content-fetch-go/internal/browser/browser.go
  packages/content-fetch-go/internal/bullmq/bullmq.go
  packages/content-fetch-go/internal/config/config.go
  packages/content-fetch-go/internal/fetch/fetch.go
  packages/content-fetch-go/internal/gcs/gcs.go
  packages/content-fetch-go/internal/handler/handler.go
  packages/content-fetch-go/internal/queue/worker.go
  packages/content-fetch-go/internal/redisutil/redisutil.go
  packages/content-fetch-go/internal/server/server.go
  packages/content-fetch-go/main.go
Due: prettier --write

Use prometheus/client_golang for metrics endpoint
  packages/content-fetch-go/go.mod
  packages/content-fetch-go/go.sum
  packages/content-fetch-go/internal/metrics/metrics.go
  packages/content-fetch-go/internal/server/server.go
Due: none

Rename abbreviated identifiers to full descriptive names
  packages/content-fetch-go/internal/analytics/analytics.go
  packages/content-fetch-go/internal/browser/browser.go
  packages/content-fetch-go/internal/bullmq/bullmq.go
  packages/content-fetch-go/internal/fetch/fetch.go
  packages/content-fetch-go/internal/handler/handler.go
  packages/content-fetch-go/internal/metrics/metrics.go
  packages/content-fetch-go/internal/queue/worker.go
  packages/content-fetch-go/internal/server/server.go
  packages/content-fetch-go/main.go
Due: none

Add integration tests for content-fetch-go service
  packages/content-fetch-go/go.mod
  packages/content-fetch-go/go.sum
  packages/content-fetch-go/integration_test.go
Due: none

Replace GCS-specific storage with gocloud.dev/blob
  packages/content-fetch-go/go.mod
  packages/content-fetch-go/go.sum
  packages/content-fetch-go/internal/config/config.go
  packages/content-fetch-go/internal/gcs/gcs.go
  packages/content-fetch-go/internal/handler/handler.go
  packages/content-fetch-go/internal/storage/storage.go
  packages/content-fetch-go/internal/storage/storage_test.go
Due: none

Wire content-fetch-go into self-hosted Docker Compose setup
  packages/content-fetch-go/Dockerfile
  self-hosting/docker-compose/.env.example
  self-hosting/docker-compose/docker-compose.yml
  self-hosting/docker-compose/self-build/docker-compose.yml
Due: none

Fix labels field type: []string → []LabelInput
  packages/content-fetch-go/internal/handler/handler.go
Due: none

Add tests for labels-as-objects fix
  packages/content-fetch-go/integration_test.go
  packages/content-fetch-go/internal/handler/handler_test.go
Due: none

move go code to src-go
  Makefile
  docker/content-fetcher.Dockerfile
  src-go/cmd/root.go
  src-go/cmd/server/content_fetcher.go
  src-go/cmd/server/serve.go
  src-go/go.mod
  src-go/go.sum
  src-go/internal/analytics/analytics.go
  src-go/internal/browser/browser.go
  src-go/internal/bullmq/bullmq.go
  src-go/internal/config/config.go
  src-go/internal/fetch/fetch.go
  src-go/internal/handler/handler.go
  src-go/internal/handler/handler_test.go
  src-go/internal/metrics/metrics.go
  src-go/internal/queue/worker.go
  src-go/internal/redisutil/redisutil.go
  src-go/internal/server/server.go
  src-go/internal/storage/storage.go
  src-go/internal/storage/storage_test.go
  src-go/main.go
Due: none

Remove port exposing for Redis service
  self-hosting/docker-compose/docker-compose.yml
Due: none

fix(api): treat S3 NoSuchKey as file-not-found in isFileExists
  packages/api/src/utils/uploads.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(api): treat S3 NoSuchKey as file-not-found in isFileExists (#4650)
  packages/api/src/utils/uploads.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix: hardcode RS256 in Apple JWT verification to prevent algorithm confusion
  packages/api/src/routers/auth/apple_auth.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(ci): align workflow Node.js version with package engines
  .github/workflows/run-tests.yaml
Due: none

feat(): allow discover to work without AI functionality
  .github/CODEOWNERS
  .github/workflows/build-self-host-docker-images.yml
  README.md
  docker-compose.yml
  docs/guides/images/discover_ai.png
  docs/guides/images/discover_no_ai.png
  docs/guides/images/omnivore-home.png
  packages/discover/src/env.ts
  packages/discover/src/index.ts
  packages/discover/src/lib/ai/embedding.ts
  packages/discover/src/lib/clients/ai/openAi.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/atom.ts
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/rss.ts
  packages/discover/src/lib/store/articles.ts
  packages/web/components/templates/discoverFeed/DiscoverFeed/DiscoverFeed.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/LargerHeaderLayout.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/PinnedFeeds.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/SmallTopBar.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/SmallerHeaderLayout.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/TopBar.tsx
  packages/web/components/templates/discoverFeed/DiscoverItems/DiscoverItems.tsx
  packages/web/env.sh
  packages/web/public/env.js
  pkg/discord/src/index.ts
  self-hosting/Dockerfile
  self-hosting/GUIDE.md
  self-hosting/docker-compose/.env.example
  self-hosting/docker-compose/docker-compose.yml
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

Change image reference for omnivore in README.md
  README.md
Due: prettier --write

chore(): remove unused workflows
  .github/workflows/run-distiller.yml
  .github/workflows/run-tests.yaml
  .github/workflows/static.yml
Due: none

fix(): fix missing atom content type
  packages/api/src/resolvers/discover_feeds/add.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix several ui issues with Discover
  packages/web/components/patterns/Draggable.tsx
  packages/web/components/templates/NavigationLayout.tsx
  packages/web/components/templates/discoverFeed/DiscoverContainer.tsx
  packages/web/components/templates/discoverFeed/DiscoverFeed/DiscoverFeed.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/DiscoverHeader.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/PinnedFeeds.tsx
  packages/web/pages/discover.tsx
  packages/web/pages/l/[section].tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix several ui issues with Discover (#4655)
  packages/web/components/patterns/Draggable.tsx
  packages/web/components/templates/NavigationLayout.tsx
  packages/web/components/templates/discoverFeed/DiscoverContainer.tsx
  packages/web/components/templates/discoverFeed/DiscoverFeed/DiscoverFeed.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/DiscoverHeader.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/PinnedFeeds.tsx
  packages/web/pages/discover.tsx
  packages/web/pages/l/[section].tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix issue with draggable component
  packages/web/components/templates/discoverFeed/DiscoverHeader/PinnedFeeds.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix issue with draggable component
  packages/web/components/templates/discoverFeed/DiscoverContainer.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix several mobile ui issues with Discover
  packages/web/components/templates/discoverFeed/DiscoverContainer.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/DiscoverHeader.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/LargerHeaderLayout.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/PinnedFeeds.tsx
  packages/web/components/templates/discoverFeed/DiscoverHeader/SmallerHeaderLayout.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix several mobile ui issues with Discover
  packages/web/components/templates/discoverFeed/DiscoverHeader/PinnedFeeds.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): remove flag for list card view preventing hover options
  packages/web/components/templates/discoverFeed/DiscoverItems/DiscoverItemListCard.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

Modified SECURITY.md to reflect the open source nature of the project.
  SECURITY.md
Due: prettier --write

fix(): fix ssrf via scan feeds and webhooks
  packages/api/src/resolvers/subscriptions/index.ts
  packages/api/src/resolvers/webhooks/index.ts
  packages/api/test/resolvers/subscriptions.test.ts
  packages/api/test/resolvers/webhooks.test.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix
