Repository omnivore-app/omnivore: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix ssrf via scan feeds and webhooks (#4656)
  packages/api/src/resolvers/subscriptions/index.ts
  packages/api/src/resolvers/webhooks/index.ts
  packages/api/test/resolvers/subscriptions.test.ts
  packages/api/test/resolvers/webhooks.test.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): add android to manifest
  web-extensions/extension-v3/extension/manifest.json
  web-extensions/extension/src/manifest.json
Due: none

adding disable email signup option (#4643)
  packages/api/.env.example
  packages/api/src/routers/auth/auth_router.ts
  packages/web/locales/en/messages.ts
  self-hosting/docker-compose/.env.example
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

chore(): update packages
  web-extensions/extension-v3/package.json
  web-extensions/extension-v3/yarn.lock
  yarn.lock
Due: none

chore(): update packages
  yarn.lock
Due: none

chore(): update packages
  .node-version
  package.json
  packages/api/Dockerfile
  packages/api/Dockerfile-test
  packages/api/package.json
  packages/api/queue-processor/Dockerfile
  packages/appreader/package.json
  packages/content-fetch/Dockerfile
  packages/content-fetch/package.json
  packages/content-handler/package.json
  packages/db/Dockerfile
  packages/discover/Dockerfile
  packages/discover/package.json
  packages/imap-mail-watcher/Dockerfile
  packages/imap-mail-watcher/package.json
  packages/readabilityjs/package.json
  packages/text-to-speech/Dockerfile
  packages/text-to-speech/package.json
  packages/web/Dockerfile
  packages/web/Dockerfile-self
  packages/web/package.json
  web-extensions/extension/package.json
  web-extensions/extension/yarn.lock
Due: none

revert(): revert removal of local-mail-watcher
  packages/local-mail-watcher/.eslintrc
  packages/local-mail-watcher/.gitignore
  packages/local-mail-watcher/Dockerfile
  packages/local-mail-watcher/Dockerfile-watcher
  packages/local-mail-watcher/package.json
  packages/local-mail-watcher/src/env.ts
  packages/local-mail-watcher/src/index.ts
  packages/local-mail-watcher/src/lib/base64.ts
  packages/local-mail-watcher/src/lib/emailApi.ts
  packages/local-mail-watcher/src/lib/node-buffer.d.ts
  packages/local-mail-watcher/src/lib/queue.ts
  packages/local-mail-watcher/src/types/EmailContents.ts
  packages/local-mail-watcher/src/types/SNS.ts
  packages/local-mail-watcher/src/watcher.ts
  packages/local-mail-watcher/tsconfig.json
  packages/local-mail-watcher/tslint.json
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): api for langchain
  packages/api/package.json
  packages/api/src/jobs/ai-summarize.ts
  packages/local-mail-watcher/.eslintrc
  packages/local-mail-watcher/.gitignore
  packages/local-mail-watcher/Dockerfile
  packages/local-mail-watcher/Dockerfile-watcher
  packages/local-mail-watcher/package.json
  packages/local-mail-watcher/src/env.ts
  packages/local-mail-watcher/src/index.ts
  packages/local-mail-watcher/src/lib/base64.ts
  packages/local-mail-watcher/src/lib/emailApi.ts
  packages/local-mail-watcher/src/lib/node-buffer.d.ts
  packages/local-mail-watcher/src/lib/queue.ts
  packages/local-mail-watcher/src/types/EmailContents.ts
  packages/local-mail-watcher/src/types/SNS.ts
  packages/local-mail-watcher/src/watcher.ts
  packages/local-mail-watcher/tsconfig.json
  packages/local-mail-watcher/tslint.json
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): api for langchain
  packages/api/package.json
Due: none

fix(): api for langchain
  packages/api/package.json
  packages/api/src/jobs/ai/create_digest.ts
  packages/api/src/resolvers/discover_feeds/add.ts
  packages/api/src/resolvers/subscriptions/index.ts
  packages/api/src/utils/parser.ts
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): api for langchain
  packages/content-fetch/Dockerfile
  packages/content-fetch/package.json
  packages/content-fetch/src/app.ts
  packages/content-fetch/src/worker.ts
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix the version issues
  packages/local-mail-watcher/Dockerfile
  packages/local-mail-watcher/package.json
  packages/local-mail-watcher/src/lib/queue.ts
  packages/web/package.json
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix the version issues
  packages/api/src/services/create_page_save_request.ts
  packages/local-mail-watcher/Dockerfile
  packages/local-mail-watcher/Dockerfile-watcher
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix the version issues
  packages/api/package.json
  packages/api/src/services/create_page_save_request.ts
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): add discover to self host
  self-hosting/docker-compose/self-build/docker-compose.yml
Due: none

chore(): update some packages (#4659)
  .node-version
  package.json
  packages/api/Dockerfile
  packages/api/Dockerfile-test
  packages/api/package.json
  packages/api/queue-processor/Dockerfile
  packages/api/src/jobs/ai-summarize.ts
  packages/api/src/jobs/ai/create_digest.ts
  packages/api/src/resolvers/discover_feeds/add.ts
  packages/api/src/resolvers/subscriptions/index.ts
  packages/api/src/utils/parser.ts
  packages/appreader/package.json
  packages/content-fetch/Dockerfile
  packages/content-fetch/package.json
  packages/content-fetch/src/app.ts
  packages/content-fetch/src/worker.ts
  packages/content-handler/package.json
  packages/db/Dockerfile
  packages/discover/Dockerfile
  packages/discover/package.json
  packages/imap-mail-watcher/Dockerfile
  packages/imap-mail-watcher/package.json
  packages/local-mail-watcher/Dockerfile
  packages/local-mail-watcher/Dockerfile-watcher
  packages/local-mail-watcher/package.json
  packages/local-mail-watcher/src/lib/queue.ts
  packages/readabilityjs/package.json
  packages/text-to-speech/Dockerfile
  packages/text-to-speech/package.json
  packages/web/Dockerfile
  packages/web/Dockerfile-self
  packages/web/package.json
  self-hosting/docker-compose/self-build/docker-compose.yml
  web-extensions/extension-v3/package.json
  web-extensions/extension-v3/src/manifest.json
  web-extensions/extension-v3/yarn.lock
  web-extensions/extension/package.json
  web-extensions/extension/src/manifest.json
  web-extensions/extension/yarn.lock
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix discover build
  .github/dependabot.yml
  .github/workflows/build-self-host-docker-images.yml
  packages/api/src/resolvers/discover_feeds/add.ts
  packages/discover/Dockerfile
  packages/discover/package.json
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/generic.ts
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

chore(): fix error with as > AS
  packages/discover/Dockerfile
  packages/imap-mail-watcher/Dockerfile
  packages/local-mail-watcher/Dockerfile
  packages/local-mail-watcher/Dockerfile-watcher
  packages/web/Dockerfile
  packages/web/Dockerfile-self
Due: none

fix(): fix discover build
  package.json
  packages/api/package.json
  packages/api/src/scalars.ts
  packages/api/src/server.ts
  self-hosting/docker-compose/docker-compose.yml
  self-hosting/docker-compose/self-build/docker-compose.yml
  yarn.lock
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix expressMiddleware
  packages/api/src/apollo.ts
  packages/api/src/server.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix discover build
  packages/discover/package.json
Due: none

fix(): update ts-node
  packages/db/package.json
  yarn.lock
Due: none

fix(): cors
  packages/api/src/server.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): migrate
  packages/db/Dockerfile
  packages/db/package.json
  packages/db/tsconfig.json
Due: none

fix(): migrate
  packages/db/package.json
  yarn.lock
Due: none

fix(): migrate
  package.json
  packages/db/Dockerfile
Due: none

Update Node.js version in README
  README.md
Due: prettier --write

Moved the self-hosting section higher
  README.md
Due: prettier --write

fix(): fix background overflow
  packages/web/components/templates/PrimaryLayout.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix background overflow (#4669)
  packages/web/components/templates/PrimaryLayout.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix rss when now content is available
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/atom.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix discover feed content not being available when content is absent. (#4670)
  packages/discover/src/lib/inputSources/articles/rss/rssConverters/atom.ts
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(): add full-page-turn setting on double click
  packages/web/components/templates/PrimaryLayout.tsx
  packages/web/components/templates/article/ReaderSettingsControl.tsx
  packages/web/lib/hooks/useReaderSettings.tsx
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

feat(): add full-page-turn setting on double click (#4671)
  packages/web/components/templates/PrimaryLayout.tsx
  packages/web/components/templates/article/ReaderSettingsControl.tsx
  packages/web/lib/hooks/useReaderSettings.tsx
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix issue where obfuscated text becomes unreadable using double tap
  packages/web/components/templates/article/ArticleContainer.tsx
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

fix(): fix double tap intersecting text (#4672)
  packages/web/components/templates/article/ArticleContainer.tsx
  packages/web/pages/[username]/[slug]/index.tsx
Due: eslint --fix, prettier --write, eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix

Path conditions:
  eslint --fix: ((any of: *.ts) or (any of: *.tsx)) or (any of: *.js, *.jsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js, *.jsx)) or (any of: *.md)
  eslint --rule 'simple-import-sort/imports: error' --rule 'simple-import-sort/exports: error' --fix: (any of: *.ts) or (any of: *.tsx)
